<div class="jumbotron">
  <h3>Consuming Restful Webservices Using Angular JS</h3>
  
  <div class="container">
  
  <div class="row">
    <div class="col-md-4">
	<img src="images/anglr.png" class="img-responsive" alt="Responsive image">
  </div>
   <div class="col-md-4">
   <img src="images/rest.png" class="img-responsive" alt="Responsive image">
  </div>
  
    <div class="col-md-4">
   <img src="images/node.png" class="img-responsive" alt="Responsive image">
  </div>

</div>
</div>
  

 
  
</div>
