<div class="jumbotron">
<form>
<table  class="table">
			<tr><td>Name</td><td><input class="form-control" type="text" name="name" ng-model="name" /></td></tr>
			<tr><td>Profession</td><td><input class="form-control" type="text" name="profession" ng-model="profession" /></td></tr>
			<tr><td>Country</td><td><input class="form-control" type="text" name="country" ng-model="country"  /></td></tr>
			<tr><td>State</td><td><input class="form-control" type="text" name="state" ng-model="state" /></td></tr>
			<tr><td>City</td><td><input class="form-control" type="text" name="city" ng-model="city" /></td></tr>
			<tr><td>Zip Code</td><td><input class="form-control" type="text" name="zipcode" ng-model="zipcode" /></td></tr>
			<tr>
			<td><input class="btn btn-default" type="submit" name="submit" value="Submit" ng-click="saveUserFunc()"></input></td>
			<td><input class="btn btn-default" type="reset" name="reset" value="Reset"></input></td>
			</tr>	
</table>
</form>
</div>

